@model KongresRodziny2015.Models.ContactUs

@{
	ViewBag.Title = "Kontakt";
}

<div class="container">
	<div class="row">
		<address class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			<b>Strong Family<br />
			4105 N Avers Ave<br />
			Chicago, IL 60618</b><br /><br />
			<abbr title="Telefon">Tel:</abbr>
			773-414-5461<br />
			Email: <a href="mailto:info@kongressrodzinychicago.org">info@kongressrodzinychicago.org</a>
		</address>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		@using (Html.BeginForm()) 
		{
			@Html.AntiForgeryToken()
			<h2>Napisz do nas</h2>
			<hr class="colorgraph">
			<div class="form-group">
				@Html.TextAreaFor(m=>m.Comment,new {@class="form-control input-lg", @placeholder="Proszę, podziel się z nami swoimi myślami...", @tabindex=1 })
				@Html.ValidationMessageFor(m=>m.Comment)
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						@Html.TextBoxFor(m=>m.FirstName,new {@class="form-control input-lg", @placeholder="Imię", @tabindex=2 })
						@Html.ValidationMessageFor(m=>m.FirstName)
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						@Html.TextBoxFor(m=>m.LastName,new {@class="form-control input-lg", @placeholder="Nazwisko", @tabindex=3 })
						@Html.ValidationMessageFor(m=>m.LastName)
					</div>
				</div>
			</div>
			<div class="form-group">
				@Html.TextBoxFor(m=>m.Email,new {@class="form-control input-lg", @placeholder="Adres Email", @tabindex=4 })
				@Html.ValidationMessageFor(m=>m.Email)
			</div>
			<div class="form-group">
				@Html.TextBoxFor(m=>m.Telephone,new {@class="form-control input-lg", @placeholder="Numer Telefonu", @tabindex=5 })
				@Html.ValidationMessageFor(m=>m.Telephone)
			</div>			
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6"><input type="submit" value="Wyślij" class="btn btn-primary btn-block btn-lg" tabindex="6"></div>
				<div class="col-xs-12 col-md-6"><a href="@Url.Action("Index", "Home")" class="btn btn-success btn-block btn-lg" tabindex="7">Wróć</a></div>
			</div>
		}
	</div>
	</div>
</div>
