@{
	ViewBag.Title = "Program";
}


<table class="table-bordered">
	<thead>
		<tr>
			<td><b>DATA</b></td>
			<td><b>GODZINA</b></td>
			<td><b>LOKALIZACJA</b></td>
			<td><b>WYDARZENIE</b></td>
			<td><b>TEMAT</b></td>
			<td><b>PREZENTER</b></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Czwartek 19 listopada</td>
			<td>7pm</td>
			<td><a href="/Home/Miejsca">Jezuicki Ośrodek Milenijny</a></td>
			<td>Msza święta.<br />Rozpoczęcie Kongresu</td>
			<td></td>
			<td>JE BP ANDRZEJ P. WYPYCH</td>
		</tr>
		<tr>
			<td>Piątek 20 listopada</td>
			<td>7pm</td>
			<td><a href="/Home/Miejsca">Misja Miłosierdzia Bożego w Lombard</a></td>
			<td>Nabożeństwo pokutne</td>
			<td></td>
			<td><a href="/Home/Uczestnicy#Ks. Michał Wyrzykowski">Ks. Michał Wyrzykowski</a></td>
		</tr>
		<tr>
			<td></td>
			<td>7pm</td>
			<td><a href="/Home/Miejsca">Kościół św. Władysława</a></td>
			<td>Nabożeństwo pokutne</td>
			<td></td>
			<td><a href="/Home/Uczestnicy#Ks. Piotr Samborski">Ks. Piotr Samborski</a></td>
		</tr>
		<tr>
			<td></td>
			<td>7pm</td>
			<td><a href="/Home/Miejsca">Sanktuarium św. Jana Pawła II Ojcowie cystersi</a></td>
			<td>Nabożeństwo pokutne</td>
			<td></td>
			<td><a href="/Home/Uczestnicy#O. Tomasz Oleniacz">O. Tomasz Oleniacz</a></td>
		</tr>
		<tr>
			<td></td>
			<td>7pm</td>
			<td><a href="/Home/Miejsca">Jezuicki Ośrodek Milenijny</a></td>
			<td>Msza św. i konferencja radiowa (WCEV 1450 AM)</td>
			<td></td>
			<td><a href="/Home/Uczestnicy#Ks. Romuald Jaworski">Ks. Romuald Jaworski</a></td>
		</tr>
		<tr>
			<td></td>
			<td>8 - 10pm</td>
			<td><a href="/Home/Miejsca">Kościół św. Daniela Proroka</a></td>
			<td>Warsztaty dla mężczyzn</td>
			<td><a href="@Url.Action("Warsztaty", "Home", new { labName = "Seven secrets of effective fatherhood Session I", subject = "Siedem sekretów efektywnego ojcostwa", instructor = "Trener \"tato.net\"" })">Siedem sekretów efektywnego ojcostwa</a></td>
			<td>Trener "tato.net"</td>
		</tr>
		<tr>
			<td>Sobota 21 listopada</td>
			<td>8 – 9:30am</td>
			<td>Polska Szkoła im. T. Kościuszki</td>
			<td>Warsztaty dla młodzieży szkolnej</td>
			<td><a href="@Url.Action("Warsztaty", "Home", new { labName = "Language of love and appreciation - a handful ideas for conversations with parents, siblings...and the rest of the world", subject = "Język miłości i szacunku – garść pomysłów na rozmowy z rodzicami, rodzeństwem... i resztą świata", instructor = "Małgorzata Olczak" })">Język miłości i szacunku – garść pomysłów na rozmowy z rodzicami, rodzeństwem... i resztą świata</a></td>
			<td><a href="/Home/Uczestnicy#Małgorzata Olczak">Małgorzata Olczak</a></td>
		</tr>
		<tr>
			<td></td>
			<td>8am – 5pm</td>
			<td><a href="/Home/Miejsca">Kościół św. Daniela Proroka</a></td>
			<td>Warsztaty dla mężczyzn</td>
			<td><a href="@Url.Action("Warsztaty", "Home", new { labName = "Seven secrets of effective fatherhood Session II", subject = "Siedem sekretów efektywnego ojcostwa", instructor = "Trener \"tato.net\"" })">Siedem sekretów efektywnego ojcostwa</a></td>
			<td>Trener "tato.net"</td>
		</tr>
		<tr>
			<td></td>
			<td>9am – 1pm</td>
			<td><a href="/Home/Miejsca">Jezuicki Ośrodek Milenijny</a></td>
			<td>Warsztaty</td>
			<td><a href="@Url.Action("Warsztaty", "Home", new { labName = "Bibliodrama: Family in the Bible – the Bible in the family", subject = "Bibliodrama: Rodzina w Biblii – Biblia w rodzinie", instructor = "Ks. Romuald Jaworski" })">Bibliodrama: Rodzina w Biblii – Biblia w rodzinie</a></td>
			<td><a href="/Home/Uczestnicy#Ks. Romuald Jaworski">Ks. Romuald Jaworski</a></td>
		</tr>
		<tr>
			<td></td>
			<td>9am – 1pm</td>
			<td><a href="/Home/Miejsca">Kościół św. Ferdynanda</a></td>
			<td>Warsztaty w j. angielskim</td>
			<td><a href="@Url.Action("Warsztaty", "Home", new { labName = "Hurt yet Healed in Love", subject = "Wounded yet healed by love. Combating the contraceptive mentality in modern society. (Zranieni – uzdrowieni w miłości. Zmagania z antykoncepcyjną mentalnością współczesnego społeczeństwa)", instructor = "Dr Robert Lawler" })">Wounded yet healed by love. Combating the contraceptive mentality in modern society. (Zranieni – uzdrowieni w miłości. Zmagania z antykoncepcyjną mentalnością współczesnego społeczeństwa)</a></td>
			<td><a href="/Home/Uczestnicy#Dr Robert C. Lawler">Dr Robert C. Lawler</a></td>
		</tr>
		<tr>
			<td></td>
			<td>9am – 12:30pm</td>
			<td>Światełko</td>
			<td>Warsztaty</td>
			<td><a href="@Url.Action("Warsztaty", "Home", new { labName = "Uwierzyc w siebie", subject = "Uwierzyć w siebie", instructor = "O. Piotr Kochanowicz" })">Uwierzyć w siebie</a></td>
			<td><a href="/Home/Uczestnicy#O. Piotr Kochanowicz">O. Piotr Kochanowicz</a></td>
		</tr>
		<tr>
			<td></td>
			<td>9:30am – 6:30pm</td>
			<td>Kings Hall,  Lombard</td>
			<td>Warsztaty dla par małżeńskich (na miejscu będzie opieka nad dziećmi)</td>
			<td><a href="@Url.Action("Warsztaty", "Home", new { labName = "Wounded – healed in love", subject = "Zranieni – uzdrowieni w miłości", instructor = "O. Paweł Bandurski" })">Zranieni – uzdrowieni w miłości</a></td>
			<td><a href="/Home/Uczestnicy#O. Paweł Bandurski">O. Paweł Bandurski</a></td>
		</tr>
		<tr>
			<td></td>
			<td>10am – 1pm</td>
			<td><a href="/Home/Miejsca">Bazylika św. Jacka</a></td>
			<td>Warsztaty dla osób powyżej 15 roku życia</td>
			<td><a href="@Url.Action("Warsztaty", "Home", new { labName = "Forbidden sadness", subject = "Zakazany smutek", instructor = "Sr. Maksymiliana" })">Zakazany smutek</a></td>
			<td><a href="/Home/Uczestnicy#Siostra Maksymiliana Kamińska">Siostra Maksymiliana Kamińska</a></td>
		</tr>
		<tr>
			<td></td>
			<td>3pm – 7pm</td>
			<td><a href="/Home/Miejsca">Kościół św. Konstancji</a></td>
			<td>Warsztaty</td>
			<td><a href="@Url.Action("Warsztaty", "Home", new { labName = "How to love when eyes are running tears, a few words about difficult love", subject = "Jak kochać, gdy z oczu płyną łzy, czyli słów kilka o trudnej miłości", instructor = "Małgorzata Olczak" })">Jak kochać, gdy z oczu płyną łzy, czyli słów kilka o trudnej miłości</a></td>
			<td><a href="/Home/Uczestnicy#Małgorzata Olczak">Małgorzata Olczak</a></td>
		</tr>
		<tr>
			<td></td>
			<td>4pm – 8pm</td>
			<td><a href="/Home/Miejsca">Jezuicki Ośrodek Milenijny</a></td>
			<td>Warsztaty</td>
			<td><a href="@Url.Action("Warsztaty", "Home", new { labName = "Family conflicts in the light of transactional analysis", subject = "Konflikty rodzinne w świetle analizy transakcyjnej", instructor = "Ks. Romuald Jaworski" })">Konflikty rodzinne w świetle analizy transakcyjnej</a></td>
			<td><a href="/Home/Uczestnicy#Ks. Romuald Jaworski">Ks. Romuald Jaworski</a></td>
		</tr>
		<tr>
			<td>Niedziela 22 listopada</td>
			<td>8am - 8:30am</td>
			<td><a href="/Home/Miejsca">Jezuicki Ośrodek Milenijny</a></td>
			<td>Msza św. i konferencja radiowa (WCEV 1450 AM oraz 1030 AM)</td>
			<td></td>
			<td><a href="/Home/Uczestnicy#Ks. Romuald Jaworski">Ks. Romuald Jaworski</a></td>
		</tr>
		<tr>
			<td>Niedziela 22 listopada</td>
			<td>8am - 8:30am</td>
			<td><a href="/Home/Miejsca">Jezuicki Ośrodek Milenijny</a></td>
			<td>Msza św. i konferencja radiowa (WCEV 1450 AM oraz 1030 AM)</td>
			<td></td>
			<td><a href="/Home/Uczestnicy#Ks. Romuald Jaworski">Ks. Romuald Jaworski</a></td>
		</tr>
		<tr>
			<td></td>
			<td>10am</td>
			<td><a href="/Home/Miejsca">Kościół św. Brunona</a></td>
			<td>Msza św., kazanie, zakończenie Kongresu</td>
			<td></td>
			<td>JE ARCYBP BLASE J. CUPICH</td>
		</tr>
		<tr>
			<td></td>
			<td>3pm - 5pm</td>
			<td><a href="/Home/Miejsca">Jezuicki Ośrodek Milenijny</a></td>
			<td>Warsztaty: Panel dyskusyjny dla zainteresowanych drogą 12 kroków</td>
			<td><a href="@Url.Action("Warsztaty", "Home", new { labName = "Live at last. 12 steps to the fullness of life", subject = "Wreszcie żyć. 12 kroków ku pełni życia", instructor = "Ks. Romuald Jaworski" })">Wreszcie żyć. 12 kroków ku pełni życia</a></td>
			<td><a href="/Home/Uczestnicy#Ks. Romuald Jaworski">Ks. Romuald Jaworski</a></td>
		</tr>
		<tr>
			<td>Piątek, Sobota, Niedziela 20 – 22 listopada</td>
			<td>Rozpoczęcie: piątek, 5pm. Zakończenie: Niedziela, 3pm</td>
			<td>Mundelein Seminary</td>
			<td>Warsztaty dla par małżeńskich, z zamieszkaniem w Mundelein, bez udziału dzieci</td>
			<td><a href="@Url.Action("Warsztaty", "Home", new { labName = "Retreat for Marriages", subject = "Spotkania Małżeńskie", instructor = "Halina i Jerzy Florczyk oraz O. Paweł Witon" })">Spotkania Małżeńskie</a></td>
			<td><a href="/Home/Uczestnicy#Halina i Jerzy Florczyk">Halina i Jerzy Florczyk</a> oraz <a href="/Home/Uczestnicy#O. Paweł Witon">O. Paweł Witon</a></td>
		</tr>
	</tbody>
</table>
<p>
	<br />	
	<p>
		REJESTRACJA NA WSZYSTKIE WARSZTATY (liczba miejsc ograniczona) odbywa się w następujący sposób:<br />
		<ul>
			<li>
				drogą internetową: kliknąć wybrany temat warsztatów i wypełnić proponowane rubryki
			</li>
			<li>
				osobiście: w biurze Jezuickiego Ośrodka Milenijnego (5835 W Irving Park Rd, Chicago), w dni powszednie od godz. 3:30pm do 8:30pm oraz w niedziele po każdej Mszy św.
			</li>
			<li>
				za pośrednictwem mailowego kontaktu z organizatorami: <a href="mailto:info@kongresrodzinychicago.org">info@kongresrodzinychicago.org</a>
			</li>
		</ul>
	</p>
<p>
	Organizatorzy uprzejmie proszą o donację na konto fundacji Not-For-Profit: "Strong Family".<br />
	Organizatorzy zastrzegają sobie prawo odwołania warsztatów z przyczyn od nich niezależnych (wówczas wpłacone pieniądze zostaną zwrócone)<br /><br />
	Jeśli racje finansowe są jedyną przeszkodą wzięcia udziału w którychkolwiek warsztatach, prośba o kontakt z organizatorami, a sprawa zostanie rozpatrzona indywidualnie <a href="mailto:info@kongresrodzinychicago.org">info@kongresrodzinychicago.org</a>
</p>
</p>